<DOCTYPE html>
<head>
<title>user dashboard</title>
</head>
<body>
 	<p>
 	wELCOME TO YOUR ADMIN DASHBOARD
 	</p>


 	<h2>Upcoming Bookings</h2>
 	<div>
 			<form action="/adminupcoming">
    			<input type="submit" value="View" />
			</form>

 	</div>
 	<h2>Previoud Bookings</h2>
 	 <div>
 			<form action="/adminprevious">
    			<input type="submit" value="View" />
			</form>

 	</div>

</body>