<DOCTYPE html>
<head>
<title>vehicle booked</title>
</head>
<body>
	Your Vehicle has been booked .<br>
	You can Pick your Vehicle from the following location 
	<%= address %><br>
	Phone number of center Manager:
	<%= phn %><br>
	Pay at the Pick Up Location only and collect your Vehicle.<br>
	The center is at a distance of <%= min %> Miles from your current location.

	<form action="/dashboard/<%=user_id%>">
    <input type="submit" value="Go to Dashboard" />
</form>

</body>
</html>