<DOCTYPE html>
<head>
<title>Register Page</title>
</head>
<body>
 <form action="/login" method="post">
  E-mail: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form> 