<DOCTYPE html>
<head>
<title>Register Page</title>
</head>
<body>
 <form action="/register" method="post">
  First name: <input type="text" name="first_name"><br>
  Last name: <input type="text" name="last_name"><br>
  E-mail: <input type="text" name="email"><br>
  
  Password: <input type="text" name="password"><br>
  Phone Number: <input type="text" name="phone_no"><br>
  DL Number: <input type="text" name="dl"><br>
  <input type="submit" value="Submit">
</form> 