<DOCTYPE html>
<head>
<title>user dashboard</title>
</head>
<body>
 	<p>
 	wELCOME TO YOUR USER DASHBOARD ,
 	<%= x %>
 	</p>

 	<h2> Make a Booking</h2>
 	<div>
 		<form action="/vehicle_search" method="post">
  			Start (in format yyyy-mm-yyThh:mm) : <input type="datetime-local" name="start"><br>
  			End: <input type="datetime-local" name="end"><br>
  			<input type="hidden" name="id" value="<%= user_id %>" >
  			<input type="submit" value="Submit">
		</form> 

 	</div>
 	<h2>Upcoming Bookings</h2>
 	<div>
 			<form action="/userupcoming" method="post">
   				<input type="hidden" name="user_id" value="<%= user_id %>" >
    			<input type="submit" value="View" />
			</form>

 	</div>
 	<h2>Previous Bookings</h2>
 	 <div>
 			<form action="/userprevious" method="post">
    			<input type="hidden" name="user_id" value="<%= user_id %>" >
    			<input type="submit" value="View" />
    			
			</form>

 	</div>

</body>